
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/site/assets/views.css" />
    </head>
    <body>
        <h2 class="proc"><%= username %>, ditt konto har nu blivit skapat!</h2>
        <div class="squarecontainer">
            <a href="login">Logga in här!</a>
        </div>
        
    </body>
    </html>